.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  padding: 0.7rem;
  border: 2px solid;
  width: fit-content;
}

.navigations {
  text-decoration: none;
  display: flex;
}

.nav {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
